.container {
  max-width: 1070px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.ant-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}